name: Pull Request

# "This run was triggered by the "push" event, which is unsupported.
#  Please ensure you are using the "pull_request" event for this workflow."
on:
  pull_request:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  semantic-pull-request:
    uses: percebus/github-actions-npm/.github/workflows/semantic-pull-request.yml@main
    with:
      github_token: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      pull-requests: read

  audit:
    uses: percebus/github-actions-npm/.github/workflows/dependency-review.yml@main
    permissions:
      contents: read
      pull-requests: read
